name: shellcheck

on: [push, pull_request, workflow_dispatch]

jobs:
  shellcheck:
    name: Run shellcheck on scripts
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

      - name: Run shellcheck
        uses: ludeeus/action-shellcheck@00cae500b08a931fb5698e11e79bfbd38e612a38
