name: Testing CI
on:
  push:
  pull_request:
    branches:
    - main

jobs:
  test-exercises:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2022]

    name: Check exercises (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: Install Zig
      uses: mlugg/setup-zig@8d6198c65fb0feaa111df26e6b467fea8345e46f
      with:
        version: 0.15.1

    - name: Test exercises
      shell: bash
      run: ./bin/run-tests
