name: Testing CI
on:
  push:
  pull_request:
    branches:
    - main

jobs:
  test-exercises:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    name: Check exercises (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c

    - name: Install Zig
      run: ./.github/bin/install-zig.sh

    - name: Test exercises
      run: ./bin/run-tests.sh
