name: Testing CI
on:
  push:
  pull_request:
    branches:
    - main

jobs:
  test-exercises:
    strategy:
      matrix:
        os: [ubuntu-24.04, macos-15, windows-2022]

    name: Check exercises (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8

    - name: Install Zig
      uses: mlugg/setup-zig@d1434d08867e3ee9daa34448df10607b98908d29
      with:
        version: 0.15.2

    - name: Test exercises
      shell: bash
      run: ./bin/run-tests
