name: Zig fmt
on: [push, pull_request, workflow_dispatch]

jobs:
  zig-fmt:
    name: Run `zig fmt`
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

    - name: Install Zig
      uses: mlugg/setup-zig@d1434d08867e3ee9daa34448df10607b98908d29
      with:
        version: 0.15.2

    - name: Check that Zig code is formatted
      run: |
        zig fmt --check .
