name: Zig fmt
on: [push, pull_request, workflow_dispatch]

jobs:
  zig-fmt:
    name: Run `zig fmt`
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: Install Zig
      uses: mlugg/setup-zig@fa65c4058643678a4e4a9a60513944a7d8d35440
      with:
        version: 0.15.1

    - name: Check that Zig code is formatted
      run: |
        zig fmt --check .
